/* Main Container Styling */
.main-container {
    display: flex;
    flex-direction: row;
    width: 1200px; /* Fixed width for the main container */
    margin: 0 auto; /* Center the main container */
    padding: 20px;
    gap: 20px; /* Space between columns */
    font-family: 'Georgia', serif;
}

/* Right Content Column Styling */
.content-column {
    flex-grow: 1; /* Take up remaining space */
    padding: 20px;
    text-align: center;
}

.hero-wrapper {
    text-align: center;
}

.upload-container {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
}

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section input,
.form-section textarea {
    width: 90%;
    padding: 10px;
    border: 0px;
    font-size: 16px;
    font-family: 'Georgia', serif;
    border-radius: 5px;
}

.form-section label {
    font-weight: bold;
}

.image-preview {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #585858;
    border-radius: 5px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 20px;
}

.upload-btn,
.save-btn,
.back-btn {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-btn {
    background-color: #56bee7;
    color: #000000;
    font-family: 'Georgia', serif;
}

.upload-btn:hover {
    background-color: #92d7f5;
}

.save-btn {
    background-color: #90ee90;
    color: #333;
    font-family: 'Georgia', serif;
}

.save-btn:hover {
    background-color: #7bd57b;
}

.back-btn {
    background-color: #ffcc99;
    color: #333;
    font-family: 'Georgia', serif;
}

.back-btn:hover {
    background-color: #ffb566;
}